**/.DS_Store
nbproject
manifest.mf
build.xml

node_modules

.project
.settings
.idea/*
*.iml

_public
node_modules/*
npm-debug.log
node/


bower_components/

coverage/
test/test-results.xml
test-results.xml

target/

root/
