<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>angular-typewriter demo</title>
	<!--<script src="../bower_components/angular/angular.min.js"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
	<!--<script src="../bower_components/lodash/lodash.min.js"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
	<script src="../dist/typewriter.js"></script>
	<link rel="stylesheet" href="../dist/typewriter.css">
</head>
<body ng-controller="DemoCtrl as DC">
	<label>Delay <{{DC.delay/2|number:0}} ~ {{DC.delay*3/2|number:0}}>ms</label>
	<input type="range" min='100' max='1000' ng-model="DC.delay"/>
	<button ng-click="DC.print()">Restart print</button>
	<h3>
		<tt-writer lines="DC.lines" delay="{{DC.delay}}" print-fn="DC.print"/>
	</h3>
	<script>
		angular.module('app', ['touk.typewriter'])
			.controller('DemoCtrl', function() {
				this.delay = 100;
				this.lines = [
					'Lorem ipsum dolor sit amet justo.',
					'Vestibulum ante ipsum primis in augue. Donec quis quam enim, sagittis ultricies.',
					'Ut sodales, velit nec dui. Aliquam erat volutpat.',
					'Pellentesque malesuada enim ut odio eget augue.',
					'Pellentesque nunc vel massa.'
				];
			});
	</script>
</body>
</html>