@import 'nib'

zeroWidthSpace = '\200B'
cursorColor = rgba(orangered, .5)

tt-writer
	&
	lines
		display block
		clear both

	tt-line
	[tt-line]
		display inline-block

	tt-line
	[tt-line]
		&::after
			content zeroWidthSpace

	cursor
		position relative
		overflow visible
		height 100%
		width 0
		animation cursorPulse 1s infinite
		color cursorColor

		&::before
		&::after
			content zeroWidthSpace
			absolute top left
			width 0
			height 100%
			box-sizing border-box
			border-left .5em solid

		&::after
			border-color transparent
			box-shadow 0 0 1.5em
			opacity .5

cursor
	display none

	&.active
		animation none

	&.active
	lines:not(.active) &.last
	lines:not(.active) .last &
		display inline


@keyframes cursorPulse
	0%,100%
		opacity 1
	40%
		opacity 0