@import 'nib'

cursorColor = rgba(orangered, .5)

tt-writer
	height auto

	&
	tt-line
		display block
		clear both

	cursor
		position relative
		overflow visible
		height 100%
		width 0

		&::before
			content ''
			absolute top left
			width .5em
			height 100%
			box-sizing border-box
			animation cursorPulse .75s infinite
			background cursorColor


cursor
	display none

	.active &
	.last &
		display inline


@keyframes cursorPulse
	0%,100%
		opacity 0
	40%
		opacity 1